<div class="container mt-3 " style="width: 18rem;">
    <div class="card mb-3" *ngFor="let pet of pets | paginate:  { itemsPerPage: 5, currentPage: paginaAtual }; let i = index">
        <div class="card-body ">
            <h5 class="card-title">Nome: {{pet.nome | titlecase}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Idade: {{pet.idade}}</h6>
            <p class="card-text">Raça: {{pet.raca | titlecase}}</p>
            <p class="card-text">Tipo: {{pet.tipo | titlecase}}</p>
            <p class="card-text">Dono: {{pet.dono.nome | titlecase}}</p>
            <p class="card-text">Telefone: {{pet.dono.telefone}}</p>
            <p class="card-text">Cpf-Dono: {{pet.dono.cpf}}</p>
            <button [routerLink]="['/pet', pet.id]"><i class="fa-solid">Detalhes</i></button>

        </div>
    </div>

    <pagination-controls (pageChange)="paginaAtual = $event"></pagination-controls>
</div>