.not-found {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.not-found img {
    width: 280px;
}

.not-found h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.not-found a {
    text-align: center;
    font-size: 20px;
    background-color: blue;
    color: #FFF;
    padding: 15px 20px;
}
