* { 
    background-color: #252525;
    color: #fff;
}

.create-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
  }

  .create-form-container{
    width: 40%;
  }
  
  .create-form {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  
  .create-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .create-form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .create-form select {
    width: 103%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .create-form button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #0d6e20;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-form button:hover {
    background-color: #0b6c10;
  }

  .navButtons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  
  