table,
th,
td {
    text-align: center;
    font-size: 1.3rem;
    border-collapse: collapse;
}

table tr:first-child {
    width: 10px;
}

table {
    width: 80vw;
    box-shadow: -2px 10px 27px -4px #0000007a;
    padding: 5px;
}

table tbody tr {
    border-bottom: 2px solid #252525;
}


th,
td {
    padding: 10px 5px;
}

th {
    border-bottom: 2px solid var(--primary);
}

.actionIcons,
.actionIcons a {
    color: var(--foreground);
    cursor: pointer;
}