@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    font-family: "Roboto", Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--foreground);

    --primary: #379237;
    --secondary: #54b435;
    --highlight: #f0ff42;
    --background: #ebebeb;
    --foreground: #071013;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    border-bottom: 2px solid var(--primary);
    height: 35px;
    padding: 0px 5px;
    transition: all .2s linear;
    outline: none;
    margin-bottom: 30px;
}

input::placeholder,
input {
    font-size: 1.1rem;
    color: var(--primary);
}

h1 {
    text-align: center;
    margin: 20px 0px;
    color: var(--primary);
}

hr {
    margin: 20px auto 40px auto;
    width: 50%;
    height: 4px;
    background-color: var(--primary);
    border: none;
}

a {
    color: var(--background);
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--background);
    font-size: 1rem;
    padding: 15px 0px;
    transition: all 0.2s ease-in;
    border-radius: 7px;
}

button:hover {
    background-color: var(--secondary);
    color: var(--foreground);
}

.addButton {
    display: block;
    background-color: var(--primary);
    font-size: 2rem;
    padding: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 100px;
    z-index: 0;
}