@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-family: "Roboto", Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--foreground);

    --primary: #379237;
    --secondary: #54B435;
    --highlight: #F0FF42;
    --background: #ebebeb;
    --foreground: #071013;

}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    justify-content: start;
    padding: 0px 20px;
    align-items: center;
    z-index: 2;
}

main {
    margin-top: 120px;
    width: 100%;
}

.hamburguerMenu {
    position: relative;
    z-index: 3;
    font-size: 2.5rem;
    color: var(--background);
    cursor: pointer;
}

.navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 0px;
    background-color: var(--primary);
    left: -100%;
    transition: all 0.3s linear;
    z-index: 2;
}

.navigation ul {
    list-style: none;
    width: 80%;
}

.navigation li {
    margin-bottom: 50px;
    font-size: 2rem;
    color: var(--background);
    width: 100%;
    text-align: center;
}

.navigation ul li {
    padding: 20px 0px;
    width: 100%;
    border-bottom: 2px solid var(--background);
    cursor: pointer;
    transition: all .2s linear;
}

.navigation li:hover {
    background-color: var(--secondary);
    color: var(--foreground);
    border-radius: 20px;

}



a {
    color: var(--background);
    text-decoration: none;
}

body {
    display: flex;
    place-items: center;
    justify-content: center;
    padding: 20px
}

* {
    margin: 0px;
    padding: 0px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 3px;
}

form input {
    border: none;
    border-bottom: 2px solid var(--primary);
    height: 35px;
    padding: 0px 5px;
    transition: all .2s linear;
    outline: none;
    margin-bottom: 30px;
}

form input::placeholder,
form input {
    font-size: 1.1rem;
    color: var(--primary);
}

button {
    border: none;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--background);
    font-size: 1rem;
    padding: 15px 0px;
    transition: all .2s ease-in;
    border-radius: 7px;
}

button:hover {
    background-color: var(--secondary);
    color: var(--foreground);

}

.addButton {
    display: block;
    background-color: var(--primary);
    font-size: 2rem;
    padding: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 100px;
    z-index: 0;
}

table,
th,
td {
    text-align: center;
    font-size: 1.3rem;
    border-collapse: collapse;
}

table tr:first-child {
    width: 10px;
}

table {
    width: 80vw;
    box-shadow: -2px 10px 27px -4px #0000007a;
    padding: 5px;
}

table tbody tr {
    border-bottom: 2px solid #252525;
}


th,
td {
    padding: 10px 5px;
}

th {
    border-bottom: 2px solid var(--primary);
}

.actionIcons a {
    color: var(--foreground);
}


@media (width > 1025px) {
    .navigation {
        width: 40%;
    }
}