/* Estilos para a página de detalhes do pet */
.pet-details {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .pet-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .pet-info {
    margin-bottom: 20px;
  }
  
  .edit-form {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  .edit-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .edit-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-form button {
    padding: 8px 15px;
    background-color: #072749;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-section {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  .delete-section button {
    padding: 8px 15px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .pet-details {
      padding: 10px;
    }
  }
  