.container-sign-up {
    background-color: #3EAAD9;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-sign-up h1 {
    color: #2B408A;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;

}

.container-sign-up span {
    color: #FFF;
}

.content {
    background-color: #FFF;
    width: 380px;
    height: 485px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.content h3 {
    color: #463ACB;
    font-weight: 700;
    font-size: 22px;

}

.content form {
    display: flex;
    flex-direction: column;
    height: 320px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;

}

.content form .btn-register {
    margin-top: 20px;
    width: 280px;
    padding: 8px;
}

.content form a {
    font-size: 14px;
    color: #463ACB;
    margin-top: 15px;
}

.content .area-inputs {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 280px;
}

.content .area-inputs label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.content .area-inputs input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #c1c1c1;
}

.inputs {
    position: relative;
}

.inputs img {
    width: 20px;
    position: absolute;
    right: 10px;
    top: 38px;
    cursor: pointer;
}
