.container-main {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-wrap: wrap;
    top: 280px;
    left: 220px;
}

.main div {
    margin-left: 10px;
}


.container-section {
    position: absolute;
    top: 200px;
    left: 260px;
    width: calc(100% - 300px);
    margin: auto;
}

.header {
    background-color: red;
    margin-left: 300px;
}
