.button-ctn {
  margin-right: 56px;
}

#action {
  display: flex;
  gap: 8px;
}

.button-action {
  cursor: pointer;
}

.table-ctn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.table {
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}

.table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
