<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{pet.nome | titlecase}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{pet.tipo | titlecase}}</h6>
        <h6 class="card-subtitle">Idade : {{pet.idade}}</h6>
        <h6 class="card-subtitle">Raça : {{pet.raca | titlecase}}</h6>
        <h6 class="card-subtitle">Dono : {{pet_dono.nome| titlecase }}</h6>
        <h6 class="card-subtitle">Telefone : {{pet_dono.telefone}}</h6>
        <h6 class="card-subtitle">CPF : {{pet_dono.cpf | cpfFormat}}</h6>
    </div>
</div>