<nav class="navbar navbar-dark bg-primary d-flex">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Home</a>
        <a class="navbar-brand" routerLink="/meus-pets">Meus Pets</a>
        <a class="navbar-brand" routerLink="/criar-pet">Criar Pet</a>
    </div>
    <div class="user">
        <div routerLink="/user">
            <!-- Exibir o ícone de login -->
            <i class="fa-solid fa-circle-user fa-xl"></i>
        </div>

    </div>


    <!-- <div>
        <i class="fa fa-sign-in" routerLink="/login"></i>
    </div> -->
</nav>


<router-outlet></router-outlet>